<ul>
  <li><a href="/investing-with-st-paul-group/index">Investing with St. Paul Group</a></li>
  <li><a href="/investing-with-st-paul-group/partnership">Partnership</a></li>
  <li><a href="/investing-with-st-paul-group/scenario">Investment Scenario</a></li>
  <li><a href="/investing-with-st-paul-group/how-to-start">How You Can Start Investing</a></li>
</ul>
