<% @page_title="Investing with St. Paul Group"%>
<% @left_nav = "/static/investing_with_st_paul_group/left_nav" %>

St. Paul Group believes in creating long-term relationships with its investors. Our goal is to partner with investors to maximize the velocity of their money and to achieve multiple streams of passive income.
As an investor and partner of St. Paul Group, you will enjoy the following:

Benefits
<h3>Cash Flow</h3>

<p>
 Manufactured housing communities typically return higher cash flow than other real estate classes. Among them, St.
  Paul Group selects only exceptional investment opportunities with potential upside and the realization of immediate
  cash flow.
</p>

<h3>High Return on Investment</h3>
<p>
  St. Paul Group's properties return your money quicker and at a higher rate than most other investment vehicles on the
  market today . They compare favorably with other forms of investment like, CD's, bonds, and the stock market.
</p>

<h3>Stability</h3>
<p>
  The default rate of manufactured housing communities is the one of the lowest in the real estate industry. The
  consistency of the asset class makes your investment lower risk than other, more speculative investments. Furthermore,
  you can rest assured our operations improvement programs will continue to improve the quality of the property, and its
  returns, throughout the life of your investment with St. Paul Group.
</p>
<h3>Diversification</h3>
<p>
  You initial investment allows St. Paul Group to acquire and retain multiple properties over time. As an investor and
  a partner you will enjoy the benefit of the long-term passive income that comes with the ownership of multiple
  manufactured housing properties.
</p>
