<% @page_title="Partnership"%>

<p>
  Investors in St. Paul Group become members of a Limited Liability Company (LLC) that holds each individual property,
  for which the St. Paul Group LLC is the managing member.
</p>
<p>
  After expenses and debt service, investors are paid a preferred return on their initial investment, after which time
  net cash flow is then distributed to each member according to their level and percentage of investment.
</p>
<p>
  Investors also receive a portion of the total profit from the community, including cash flow from equity refinancing
  or profit from disposition and sale of the property.
</p>
