<% @page_title="Advisors"%>

St. Paul Group has put together an all-star team of advisors with more than 30 years of experience and dozens of
properties invested. This board of industry veterans has made a commitment to guide St. Paul Group through its
investment endeavors and to provide valuable input to our operations. 

<h2>David Reynolds</h2>
<p>
  David Reynolds received a B.S. in Accounting from Mesa State College in Colorado in 1992 and attended graduate school
  majoring in Accounting and Taxation at Colorado State University in 1994.
</p>
<p>
  He is a successful real estate investor specializing in the acquisition of manufactured housing communities and RV
  parks for the past 11 years. He has the keen ability to quickly assess deals, cut through hype, measure upside vs.
  downside risk, and make sound decisions. He has owned and operated over 60 manufactured housing communities & RV
  parks over the past 11 years.
</p>
<p>
  David is a highly sought-after consultant and educator in the manufactured housing investment community. He has
  authored 4 books and has developed some of the largest and most respected websites dedicated to manufactured
  housing & RV park industries, receiving over 10 million hits per year.
</p>

<h2>Roger Lund, CPA, MBA</h2>
<p>
  Mr. Lund is a Certified Public Account with 32 years of experience. Mr. Lund received his B.S. Business Administration
  from the University of California in 1971 and his MBA from the University of California, Berkeley (Accounting) in 1975.
</p>
<p>
  In addition, he is a former Associate Professor of Business Administration at the California State University
  (Stanislaus) where he taught advanced accounting, auditing, cost accounting, income tax and intermediate accounting.
  Mr. Lund is widely regarded as an expert in accounting and tax law for manufactured housing community investment.
  He has also invested in 9 manufactured housing communities throughout the country.
</p>

