<% @page_title="About St. Paul Group"%>

<p>
  St. Paul Group is a real estate investment company specializing in manufactured housing communities throughout the United States with a strong focus in the Midwest region. The properties we acquire possess strong upside potential and the immediate realization of positive cash flow.
  Our management expertise enables us to improve operations by increasing income, decreasing expenses, and ultimately increasing the value of our properties and our investment returns. The residents of our communities benefit from an upgraded standard of living, and safe, affordable, quality housing.
</p>
