<% @page_title="Managers"%>
<% @left_nav = "/static/about_st_paul_group/left_nav" %>

Members of the St. Paul Group bring years of professional experience in management, project execution, and technology.
They have committed countless hours, energy, and money into this endeavor: totaling more than $50,000 in training and
education, with full dedication towards the success of the business. We currently own and operate two communities in
Arkansas and Indiana totaling 119 units.

<h2>Howard Huang</h2>
<p>
  Howard Huang holds a Bachelor of Science in Economics from Cornell University and over 18 years of professional
  experience - 14 of which were spent managing large projects in the $5MM to $38MM range.
</p>
<p>
  Howard has also consulted for several commercial banks and is well versed in manufactured housing community finance
  options. He is responsible for the St. Paul Group's property location, price negotiation, and financing.
</p>
<p>
  Howard has used his creative marketing and management skills to successfully acquire and improve several
  manufactured housing communities including Dixon Mobile Home Park, in Little Rock Arkansas. In a period of less
  than one year he was able to increase occupancy from 83% to 93% and cash flow by $3,000 a month.
</p>

<h2>Jae Cho</h2>
<p>
  Jae Cho received a Bachelor Degree in Computer Science from the University of California at Berkeley. He has over 10
  years of professional experience with international project development, management, and systems engineering.
</p>
<p>
  Jae brings with him unparalleled analytical skills allowing St. Paul Group, and its properties, to run more
  efficiently and deliver more profit to its investors. Jae also helps St. Paul Group stay at the forefront of
  real estate technology with the development and implementation of proprietary rent collection and management systems.
</p>
<p>
  Over the past two years alone, Jae's involvement in St. Paul Group has led to an increase in operating revenues of
  13% and an increase in portfolio value by 22%. The systems Jae has helped put in place have also resulted in a lower
  incidence (20%) of late rent payments.
</p>
