<h1>Welcome to St. Paul Group LLC</h1>
<p>
  We are a real estate investment company specializaing in manufactured housing community investment.
  With our private equity investors, we acquire and manage manufactured housing communities throughout the
  country. We provide affordable form of housing to communities and create wealth for our investors.
</p>


<div class="clearfix">
  <%= render :partial=>"static/index_intro_slide"%>
</div>

<h2>
  News & Events
</h2>