<ul>
  <li><a href="/manufactured-community-investment/index">Manufactured Community Investment</a></li>
  <li><a href="/manufactured-community-investment/about">About Manufactured Communities</a></li>
  <li><a href="/manufactured-community-investment/why">Why Invest in Manufactured Communities</a></li>
  <li><a href="/manufactured-community-investment/strategy">Investment Strategy</a></li>
  <li></li>
</ul>
