<% @page_title="About Manufactured Community"%>
<% @left_nav = "/static/manufactured_community_investment/left_nav" %>

<p>
  Manufactured homes are built in factories and transported on-site for installation. A manufactured home community is
  a tract of land, or several parcels of land, upon which multiple manufactured homes are placed. A manufactured home
  community can be a collection of just a few to several hundred manufactured homes.
</p>

<p>
  Most come pre-assembled or pre-built in large sections, and require less setup time at their final location.
  Because of their extremely efficient manufacturing and installation, manufacturing homes provide the most affordable
  form of ownership, especially for moderate to low-income families.
</p>

<p>
  Manufactured homes are built to a more stringent design standard than stick-built or built-in-place homes. With the
  passage of strict building codes from the Department of Housing and Urban Development Department (HUD), manufactured
  housing durability and safety has been greatly increased. Additionally, before any manufactured home is sold, it is
  fully assembled in the factory and tested for any imperfections. This adherence to detail, in part, has resulted in a
  manufactured housing boon with over 9 million homes on the market since 2000.
</p>

<p>
  Operators of manufactured home communities can lease or sell property to manufactured home owners. They also
  provide, for a fee, basic utilities such as water, sewer, electricity, and gas. Manufactured communities are an
  inexpensive option for home ownership and encourage a strong sense of community.
</p>
