<% @page_title="Manufactured Community Investment"%>
<% @left_nav = "/static/manufactured_community_investment/left_nav" %>

<p>
  As a low-income housing community, manufacutred housing community has various advantages that no other real estate could give.
  With stable demand, low turnover, high barrier to entry, low expense ration, investing manufactured housing coummunity is stable and lucrative way of growing  your essets, especially during the recession.
</p>

<% # image_tag "/images/ist2_9894470-residential-mobile-home-on-a-quality-caravan-park-estate.jpg" %>
<img style="text-align: center;" src="/images/ist2_9894470-residential-mobile-home-on-a-quality-caravan-park-estate.jpg" />


<p>
  St.Paul Group LLC is highly specilized investing company for manufactured housing community within the United States.
</p>

