<% @page_title="Investment Process"%>
<% @left_nav = "/static/manufactured_community_investment/left_nav" %>

<p>
  We use an investment process that has proven successful with each of our manufactured community investments. That
  process is replicated over and over to achieve maximum efficiency, outstanding management, and higher-than-average
  returns. Steps in the St. Paul Group Investment Process are:
</p>
<h2>Step 1 - Acquisition</h2>
<p>
  Using our knowledge and experience in the manufactured home industry and the counsel of our advisory board, we
  locate, negotiate, and acquire a manufactured community at below market price and/or strong upside potential.
</p>
<h2>Step 2 - Partnership</h2>
<p>
  Each property St. Paul Group acquires is unique and therefore we take care to structure our agreements specific to
  the investment needs and parameters of each investor member.
</p>
<h2>Step 3 - Improvement</h2>
<p>
  We operate the property to increase the overall net operating income (NOI) and the ultimate value of the community.
  This is done through combination of rental and utility fee increases, expense reduction, and by employing contract
  renegotiation techniques specific to manufactured housing communities and the subject property.
</p>
<h2>
  Step 4 - Equity Strip (Cash Out Refinance)
</h2>
<p>
  As our property value increases so does our equity. At the point where a cash-out refinance is available,
  we will return the entire investment, or a significant portion thereof, to each investor. The entity, and
  manufactured housing community, will remain intact and its members will continue to receive positive cash flow
  and future appreciation.
</p>
<h2>Step 5 - Reinvestment</h2>
<p>
  St. Paul Group is continuously locating and analyzing investment opportunities. As a valued investor, after you 
  have received your initial investment back, you will have preferred priority to reinvest your capital with us.
  This includes the potential for an even quicker return on investment and increased splits on cash flow.
</p>

