<% @page_title="Investment Strategy"%>
<% @left_nav = "/static/manufactured_community_investment/left_nav" %>

<h2>Acquisition Strategy</h2>
<p>
  Information on potential investments is received from various channels, including advisors, partners, financiers,
  property sellers, agents, brokers, and our own team who are right on the ground in many of these communities.
  We take a deliberate and systematic approach to evaluate an investment to ensure maximum profitability. Each project
  is analyzed for its potential to generate as strong a return as possible in the shortest time period possible.
  Information gathered is verified for accuracy until we are satisfied we are looking at the very best opportunities
  in any given market.
</p>

<h2>Operational Strategy</h2>
<p>
  Our operational systems are both scalable and efficient, which allows us to improve operations from the inside and
  move purposefully outward.. As operations improve, the quality of living improves, as does the ultimate value of our
  communities.
</p>