<% @page_title="Why Invest in Manufactured Communities"%>
<% @left_nav = "/static/manufactured_community_investment/left_nav" %>

<h2>Low Expense Ratio</h2>
<p>
  Manufactured housing communities have a low expense ratio because they own only the infrastructure of the land,
  not the homes. The tenants own and maintain their individual homes.
</p>

<h2>Recession Resistant</h2>
<p>
  There is consistent demand for low-income housing in every economic environment. Manufactured housing communities
  fill this need by providing an affordable form of home ownership. Even during a recession, the demand for mobile homes remains high. In fact, each of our communities has enjoyed increased occupancy in recent years.
</p>

<h2>High Barrier to Entry</h2>
<p>
  There are approximately 55,000 manufactured home communities in the United States, and the requirements for building
  new communities are very stringent. Additionally, most cities that offer manufactured housing are reluctant to
  approve new manufactured housing developments, forcing builders to focus on other forms of construction. This
  results in a consistently high demand for manufactured housing.
</p>

<h2>
  Low Turnover
</h2>
<p>
  Due to transportation and disassembly costs, manufactured home owners try to move their properties as little as
  possible. Additionally, the better maintained the housing park is the longer a tenant stays. It is not uncommon
  for a tenant to stay in a community for 10 years or more. By contrast, the average turnover time in an apartment
  building is between 6 and 9 months.
</p>
