<div class="footer">
  <a href="">Home</a>
  <a href="">Disclaimer</a>
  <a href="">Contact Us</a>
  <a href="">Sitemap</a>
</div>

<%= render :partial => "/3rd_party_includes/google_analytics.html.erb" %>
