<div class="header">
  <div class="logo">
    <a href="/"><img src="/images/logo_lg.png"/></a>
  </div>

  <div class="clearfix">
    <ul id="nav-menu" class="sf-menu sf-js-enabled sf-shadow">
      <li><a href="/">Home</a></li>
      <li>
        <a href="/about-st-paul-group/index" class="sf-with-ul">About St. Paul Group</a>
        <ul>
          <li><a href="/about-st-paul-group/mission">Mission</a></li>
          <li><a href="/about-st-paul-group/managers">Managers</a></li>
          <li><a href="/about-st-paul-group/advisors">Advisors</a></li>          
        </ul>
      </li>
      <li>
        <a href="/manufactured-community-investment/index" class="sf-with-ul">Manufactured Community<br/> Investment</a>
        <ul>
          <li><a href="/manufactured-community-investment/about">About Manufactured Communities</a></li>
          <li><a href="/manufactured-community-investment/why">Why Invest in Manufactured Communities</a></li>
          <li><a href="/manufactured-community-investment/strategy">Investment Strategy</a></li>
          <li><a href="/manufactured-community-investment/process">Investment Process</a></li>
        </ul>
      </li>
      
      <li>
        <a href="/investing-with-st-paul-group/index" class="sf-with-ul">Investing with St. Paul Group</a>
        <ul>
          <li><a href="/investing-with-st-paul-group/index">Investing with St. Paul Group</a></li>
          <li><a href="/investing-with-st-paul-group/partnership">Partnership</a></li>
          <li><a href="/investing-with-st-paul-group/scenario">Investment Scenario</a></li>
          <li><a href="/investing-with-st-paul-group/how-to-start">How You Can Start Investing</a></li>
        </ul>
      </li>

      <li><a href="">Portfolio</a></li>
    </ul>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').superfish({
        autoArrows:  false,  // disable generation of arrow mark-up
        dropShadows: false   // disable drop shadows
      });
    });
  </script>

</div>
  