<div class="header">
  <div class="logo">
    <a href="/"><img src="/images/logo_lg.png"/></a>
  </div>

  <div class="clearfix">
    <ul id="nav-menu" class="sf-menu sf-js-enabled sf-shadow">
      <li><a href="/">Home</a></li>
      <li>
        <a href="" class="sf-with-ul">About St. Paul Group</a>
        <ul>
          <li><a href="" >About Us</a></li>
        </ul>
      </li>
      <li><a href="">Investment Strategy</a></li>
      <li><a href="">Investing with St. Paul Group</a></li>
      <li><a href="">Portfolio</a></li>
    </ul>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').superfish({
        autoArrows:  false,  // disable generation of arrow mark-up
        dropShadows: false   // disable drop shadows
      });
    });
  </script>

</div>
  